.Blog-per {
    background: linear-gradient(rgb(0, 13, 107, 0.7), rgb(0, 13, 107, 0.7)), url("../assets/image/blog/img_06.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.Blog-per .Blog-item,
.about-center_container .about-center,
.members .members-item_2 {
    width: 1100px;
    margin: 0px auto;
}

@media all and (max-width:1100px) {
    .about-center_container .about-center {
        width: 100%;
    }

    .about-center .about-center-item_2 {
        width: 100%;
    }

    .about-center_container {
        padding: 0px 20px;
    }

    .blog-all {
        display: none;
    }

  
}